{% extends "base.html" %}

{% block content %}
<header class="masthead" style="background-image: url('../static/assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>SUIP</h1>
                    <span class="subheading">SuipJhaps</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            {% if not blogs %}
            <div class="post-preview">

                <h2 class="post-title">No Post Yet</h2>

                {% else %}
                {% for blog in blogs %}
                <div class="post-preview">
                    <a href="{{ url_for('show_post', post_id=blog.id) }}">
                        <h2 class="post-title">{{ blog.title }}</h2>
                        <h3 class="post-subtitle">{{ blog.subtitle }}</h3>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="#">{{ blog.author.username.strip()[0] }}</a>
                        on {{ blog.date }}

                        {% if admin %}
                        <a class="btn btn-tertiary" href="{{ url_for('delete_post', post_id=blog.id) }}"> ✘</a>
                        {% endif %}
                    </p>
                </div>
                <hr class="my-4" />
                {% endfor %}
                {% endif %}

                {% if prev_page %}
                <a class="btn btn-tertiary" href="{{ prev_page }}">Newer Posts</a>
                {% endif %}

                {% if next_page %}
                <a class="btn btn-tertiary" href="{{ next_page }}">Older Posts</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}